.character-tabs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
    .btn{
        min-width: 250px;
    }
    &::-webkit-scrollbar {
        width: 0px;
    }
}

.add-new-character-component{
    .add-new-character-btn{
        width: 100%;
        max-width: 250px;
        margin: 2% auto;
        display: block;
        line-height: 0;
        .text{
            top: -6px;
            position: relative;
        }
    }
}

.list-characters-component{
    .characters-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .character-wrapper{
            width: 20%;
            transition: all 0.4s;
            cursor: pointer;
            .charcter-content-wrapper{
                padding: 10% 20% 0;
            }
            .character-img-wrapper{
                position: relative;
                overflow: hidden;
                @include square-element;
                padding: 5%;
                border: 1px solid $colour-primary;
                img{
                    width: 100%;
                    @include center-element;
                }
            }
            h4{
                text-align: center;
                margin: 5% auto 0;
                transition: all 0.4s;
            }
            &:hover{
                background-color: $colour-primary;
                h4{
                    color: $colour-on-primary;
                }
            }
        }
    }
}

.characters-page{
    .character-list-btn-close-wrapper{
        text-align: center;
    }
}

.container-char{
    max-width: 1500px;
    margin: auto;
    height: $page-height;
    .row{
        margin: 0;
    }
    .vertical-menu-wrapper{
        padding: 0;
    }
    .vertical-menu{
        .vertical-menu-item{
            width: 100%;
            padding: 0%;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            @for $i from 1 through 6{
                &:nth-child(#{$i}){
                    animation: animation-vertical-up #{($i*0.1)+0.5}s;
                }
            }
            &::after{
                content: "";
                display: block;
                padding-bottom: 50%;
            }
            .btn_container{
                @include center-element;
                a{
                    @include center-element;
                    white-space: nowrap;
                    transition: all 0.4s;
                    opacity: 0;
                    pointer-events: none;
                }
                span{
                    @include center-element;
                    font-size: 3vw;
                    transition: all 0.4s;
                    pointer-events: none;
                }
            }
            .btn{
                position: absolute;
                width: 50%;
                height: 100%;
                transition: all 0.4s;
                border-radius: 0.25rem 0 0 0.25rem;
                a{
                    font-size: 1.2vw;
                    white-space: pre-wrap;
                }
                &:hover{
                    width: 100%;
                    a{
                        transform: translate(-15%, -50%);
                        opacity: 1;
                    }
                    span{
                        transform: translate(-160%, -50%);
                    }
                }
            }
        }
    }
    .content{
        background-color: $colour-section;
        border: 2px solid $colour-primary;
    }
}

@keyframes animation-vertical-up {
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0px;
        opacity: 1;
    }
}