$colour-primary: #BB86FC;
$colour-priamry-variant: #3700B3;
$colour-secondary: #03DAC6;

$colour-section:#292929;

$colour-background: #121212;
$colour-surface: #1E1E1E;
$colour-surface-variant: #383838;
$colour-error: #CF6679;

$colour-on-primary: #000000;
$colour-on-variant: #ffffff;
$colour-on-secondary: #000000;
$colour-on-background: #ffffff;
$colour-on-surface: #ffffff;
$colour-on-surface-variant:#8E8E8E;
$colour-on-error: #000000;