.card-component{
    text-align: center;
    .card{
        padding: 5%;
        color: $colour-on-surface;
        background: $colour-surface;
        height: 100%;
        justify-content: space-between;
        box-shadow: 5px 5px 2px $colour-surface-variant;
        h2, h3, h4{
            color: $colour-secondary;
        }
    }
}

.multi-card-banner{
    display: grid;
    &.two{
        grid-template-columns: 1fr 1fr;
    }
    &.three{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card-component{
        padding: 5%;
    }
}